<!DOCTYPE html>
<html lang="en">
<head>
    {{>headlinks}}
</head>
<body>
    {{>navbar}}

 <div class="container-fluid mt-5 contact-style" id="contactid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">Reset Password</h1>
                <p class="text-center">we will be happy to help you</p>
                <div class="row">
                    <div class="col-md-6 col-12 mx-auto">
                        <form action="" method="post">
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">password</label>
                                <input type="password" class="form-control" id="message" name="password">
                                <input type="hidden" name="user_id" value="{{user_id}}">
                            </div>

                            <button type="submit" class="btn-style btn-primary">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>