<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About Us</h1>
            <p class="text-center">grow your business with us</p>
            <div class="row">
                <div class="col-md-6 col-12 hero-text ">
                    <figure>
                        <img class="imgs" src="./p7.png" alt="" srcset="">
                    </figure>
                </div>

                {{!-- right side --}}
                <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                    <h1><span class="bold-style">We Are The Team Of Professional Developers ✌</span></h1>
                    <p>Welcome To <span class="bold-style">Yamuna Bags</span>.You can come up with a line of designs
                        that you can get into manufacturing or retailing. Bags made of synthetic material are considered
                        consumer durable items. All machines and raw materials used for its manufacturing are easily
                        available from indigenous sources and not much technology is involved in manufacturing.</p>
                    <button class="btn-style btn-primary">Read more</button>
                </div>
            </div>
        </div>
    </div>
</div>