{{!-- <div class="container-fluid mt-5 about-style" id="gallryid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Img Gallry</h1>
            <p class="text-center">grow your business with us</p>
            <div class="flex-fill gap-5 text-center d-flex justify-content-center align-items-start">
                <div class="product our-services" style="margin-top: 100px;">
                    <h3 class="bagtit" style="color: blue;">
                        <strong> Bags title </strong>
                    </h3>
                    <div style="margin-bottom: 20px;">
                        <img class="imgs1" src="./img.jpg" class="img-fluid" alt="">
                    </div>
                    <h4 style="color: blue;">Price: <strong>$56</strong></h4>
                    <div class="desc">
                        Lorem ipsum dolor sit amet.
                    </div>

                    <div class="my-2">
                        <div class="my-2 text-center d-flex justify-content-center ">
                            <button class="btn-style btn-danger"><strong>Read more</strong></button>
                        </div>
                    </div>
                </div>
                <div class="product our-services" style="margin-top: 100px;">
                    <h3 class="bagtit" style="color: blue;">
                        <strong> Bags title </strong>
                    </h3>
                    <div style="margin-bottom: 20px;">
                        <img class="imgs1" src="./p1.webp" class="img-fluid" alt="">
                    </div>
                    <h4 style="color: blue;">Price: <strong>$56</strong></h4>
                    <div class="desc">
                        Lorem ipsum dolor sit amet.
                    </div>

                    <div class="my-2">
                        <div class="my-2 text-center d-flex justify-content-center ">
                            <button class="btn-style btn-danger"><strong>Read more</strong></button>
                        </div>
                    </div>
                </div>
                <div class="product our-services" style="margin-top: 100px;">
                    <h3 class="bagtit" style="color: blue;">
                        <strong> Bags title </strong>
                    </h3>
                    <div style="margin-bottom: 20px;">
                        <img class="imgs1" src="./p7.png" class="img-fluid" alt="">
                    </div>
                    <h4 style="color: blue;">Price: <strong>$56</strong></h4>
                    <div class="desc">
                        Lorem ipsum dolor sit amet.
                    </div>

                    <div class="my-2">
                        <div class="my-2 text-center d-flex justify-content-center ">
                            <button class="btn-style btn-danger"><strong>Read more</strong></button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="flex-fill gap-5 text-center d-flex justify-content-center align-items-start">
                <div class="product our-services" style="margin-top: 100px;">
                    <h3 class="bagtit" style="color: blue;">
                        <strong> Bags title </strong>
                    </h3>
                    <div style="margin-bottom: 20px;">
                        <img class="imgs1" src="./images.jpeg" class="img-fluid" alt="">
                    </div>
                    <h4 style="color: blue;">Price: <strong>$56</strong></h4>
                    <div class="desc">
                        Lorem ipsum dolor sit amet.
                    </div>

                    <div class="my-2">
                        <div class="my-2 text-center d-flex justify-content-center ">
                            <button class="btn-style btn-danger"><strong>Read more</strong></button>
                        </div>
                    </div>
                </div>
                <div class="product our-services" style="margin-top: 100px;">
                    <h3 class="bagtit" style="color: blue;">
                        <strong> Bags title </strong>
                    </h3>
                    <div style="margin-bottom: 20px;">
                        <img class="imgs1" src="./p3.jpeg" class="img-fluid" alt="">
                    </div>
                    <h4 style="color: blue;">Price: <strong>$56</strong></h4>
                    <div class="desc">
                        Lorem ipsum dolor sit amet.
                    </div>

                    <div class="my-2">
                        <div class="my-2 text-center d-flex justify-content-center ">
                            <button class="btn-style btn-danger"><strong>Read more</strong></button>
                        </div>
                    </div>
                </div>
                <div class="product our-services" style="margin-top: 100px;">
                    <h3 class="bagtit" style="color: blue;">
                        <strong> Bags title </strong>
                    </h3>
                    <div style="margin-bottom: 20px;">
                        <img class="imgs1" src="./p5.webp" class="img-fluid" alt="">
                    </div>
                    <h4 style="color: blue;">Price: <strong>$56</strong></h4>
                    <div class="desc">
                        Lorem ipsum dolor sit amet.
                    </div>

                    <div class="my-2">
                        <div class="my-2 text-center d-flex justify-content-center ">
                            <button class="btn-style btn-danger"><strong>Read more</strong></button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div> --}}

<div class="container-fluid mt-5 about-style" id="gallryid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Img Gallry</h1>
            <p class="text-center">grow your business with us</p>
            <div class="flex-fill gap-5 text-center d-flex justify-content-center align-items-start"
                style="flex-wrap: wrap;">
                <div class="product our-services" style="margin-top: 100px;">
                    <h3 class="bagtit" style="color: blue;">
                        <strong> Bags title </strong>
                    </h3>
                    <div style="margin-bottom: 20px;">
                        <img class="imgs1" src="./img.jpg" class="img-fluid" alt="">
                    </div>
                    <h4 style="color: blue;">Price: <strong>$56</strong></h4>
                    <div class="desc">
                        Lorem ipsum dolor sit amet.
                    </div>

                    <div class="my-2">
                        <div class="my-2 text-center d-flex justify-content-center ">
                            <button class="btn-style btn-danger"><strong>Read more</strong></button>
                        </div>
                    </div>
                </div>
                <div class="product our-services" style="margin-top: 100px;">
                    <h3 class="bagtit" style="color: blue;">
                        <strong> Bags title </strong>
                    </h3>
                    <div style="margin-bottom: 20px;">
                        <img class="imgs1" src="./p1.webp" class="img-fluid" alt="">
                    </div>
                    <h4 style="color: blue;">Price: <strong>$56</strong></h4>
                    <div class="desc">
                        Lorem ipsum dolor sit amet.
                    </div>

                    <div class="my-2">
                        <div class="my-2 text-center d-flex justify-content-center ">
                            <button class="btn-style btn-danger"><strong>Read more</strong></button>
                        </div>
                    </div>
                </div>
                <div class="product our-services" style="margin-top: 100px;">
                    <h3 class="bagtit" style="color: blue;">
                        <strong> Bags title </strong>
                    </h3>
                    <div style="margin-bottom: 20px;">
                        <img class="imgs1" src="./p7.png" class="img-fluid" alt="">
                    </div>
                    <h4 style="color: blue;">Price: <strong>$56</strong></h4>
                    <div class="desc">
                        Lorem ipsum dolor sit amet.
                    </div>

                    <div class="my-2">
                        <div class="my-2 text-center d-flex justify-content-center ">
                            <button class="btn-style btn-danger"><strong>Read more</strong></button>
                        </div>
                    </div>
                </div>
                <div class="product our-services" style="margin-top: 100px;">
                    <h3 class="bagtit" style="color: blue;">
                        <strong> Bags title </strong>
                    </h3>
                    <div style="margin-bottom: 20px;">
                        <img class="imgs1" src="./images.jpeg" class="img-fluid" alt="">
                    </div>
                    <h4 style="color: blue;">Price: <strong>$56</strong></h4>
                    <div class="desc">
                        Lorem ipsum dolor sit amet.
                    </div>

                    <div class="my-2">
                        <div class="my-2 text-center d-flex justify-content-center ">
                            <button class="btn-style btn-danger"><strong>Read more</strong></button>
                        </div>
                    </div>
                </div>
                <div class="product our-services" style="margin-top: 100px;">
                    <h3 class="bagtit" style="color: blue;">
                        <strong> Bags title </strong>
                    </h3>
                    <div style="margin-bottom: 20px;">
                        <img class="imgs1" src="./p3.jpeg" class="img-fluid" alt="">
                    </div>
                    <h4 style="color: blue;">Price: <strong>$56</strong></h4>
                    <div class="desc">
                        Lorem ipsum dolor sit amet.
                    </div>

                    <div class="my-2">
                        <div class="my-2 text-center d-flex justify-content-center ">
                            <button class="btn-style btn-danger"><strong>Read more</strong></button>
                        </div>
                    </div>
                </div>
                <div class="product our-services" style="margin-top: 100px;">
                    <h3 class="bagtit" style="color: blue;">
                        <strong> Bags title </strong>
                    </h3>
                    <div style="margin-bottom: 20px;">
                        <img class="imgs1" src="./p5.webp" class="img-fluid" alt="">
                    </div>
                    <h4 style="color: blue;">Price: <strong>$56</strong></h4>
                    <div class="desc">
                        Lorem ipsum dolor sit amet.
                    </div>

                    <div class="my-2">
                        <div class="my-2 text-center d-flex justify-content-center ">
                            <button class="btn-style btn-danger"><strong>Read more</strong></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>